/*RESET Aula 1 e 2*/
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
    outline: none;
}
img{ max-width: 100%;}
ul{ list-style: none;}
a{ text-decoration: none;}
h2{ font-size: 1.5em; color: #333;}
p{ font-size: 1em; color: #777;}

/* CABEÇALHO - HEADER Aula 3*/
.cabecalho{width: 100%; float: left; padding: 50px 8%; background-color: #070B4A;}
.logo a{width: 212px; height: 96px; float: left; background: url(../img/GM.png) no-repeat; font-size: 0;}
.cabecalho form{width: 30%; float: right;}
.cabecalho form input[type="text"]{ width: 85%; float: left; padding: 15px 10px; border-radius: 5px 0 0 5px}
.cabecalho form button{width: 15%;float: right; padding: 15px 10px; background-color: #4273dd; color:#fff; cursor: pointer; border-radius: 0 5px 5px 0;}

/*MENU - NAV  Aula 4*/
.menu{width: 100%; float: left; background-color: #4273dd; padding: 18px 8%;}
.menu li{float: left;}
.menu li a{color: #070B4A; margin-right: 25px;}
.menu li a:hover{color: snow;}

/* SOCIAL-ICONS redes sociais Aula 5*/
.social-icons{float: right;}
.social-icons a{color: #fff; float: left; margin-left: 12px;}
.btn-facebook:hover{color: #3b5998;}
.btn-twitter:hover{color:  #1C9CEA;}
.btn-google:hover{color: #E44134;}

/* PRINCIPAL - MAIN  Aula 6*/
.principal{width:100%; float: left; padding: 20px 8%;}
.sobre{ width: 70%; float: left; padding: 0 20px 20px 0;}
.sobre h2{margin-bottom: 15px;}
.sobre img{width: 50%; float:left; border-radius: 5px; margin: 0 15px 15px 0;}
.sobre p{text-align: justify;}